set_io clk       35
set_io uart_tx_pin  6
set_io cam_xclk  2
set_io cam_scl   27
set_io cam_sda   26
set_io cam_pclk  28
set_io cam_href  32
set_io cam_d[0]  48
set_io cam_d[1]  46
set_io cam_d[2]  44
set_io cam_d[3]  43
set_io cam_d[4]  38
set_io cam_d[5]  34
set_io cam_d[6]  31
set_io cam_d[7]  42
set_io tft_sck   37
set_io tft_mosi  36
set_io tft_cs    25
set_io tft_dc    23
set_io led_r     39
set_io led_g     40
set_io led_b     41
